<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TOP画面</title>
    <link rel='icon' type='image/png' href='/images/favicon.ico'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/menu.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/input.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sal.min.css">
</head>

<body>

    <div class="contentLayout" data-sal="slide-up">
        <!-- コンテナ -->
        <div class="grid">

            <div class="item kintai">
                <div class="item-content">
                    <!-- カスタムコンテンツ開始 -->
                    <div class="attendance-content">
                        <a href="/attendRegist/input">勤怠登録</a>
                    </div>
                    <!-- カスタムコンテンツ終了 -->
                </div>
            </div>

            <div class="item kintai">
                <div class="item-content">
                    <!-- カスタムコンテンツ開始 -->
                    <div class="attendance-content">
                        <a href="/attendRegist/refer">勤怠照会</a>
                    </div>
                    <!-- カスタムコンテンツ終了 -->
                </div>
            </div>

            <!-- 管理ユーザの場合のみ -->
            <% if (sessionLoginUser.userAuth === '1') {%>
            <div class="item setting">
                <div class="item-content">
                    <!-- カスタムコンテンツ開始 -->
                    <div class="user-content">
                        <a href="/ontimeRegist/input">ユーザ登録</a>
                    </div>
                    <!-- カスタムコンテンツ終了 -->
                </div>
            </div>
            <% } %>

            <div class="item setting">
                <div class="item-content">
                    <!-- カスタムコンテンツ開始 -->
                    <div class="user-content">
                        <a href="/userChange/input">ユーザ設定</a>
                    </div>
                    <!-- カスタムコンテンツ終了 -->
                </div>
            </div>

            <!-- 管理ユーザの場合のみ -->
            <% if (sessionLoginUser.userAuth === '1') {%>
            <div class="item setting" th:if="${session['sessionUser'].userAuth} == 1">
                <div class="item-content">
                    <!-- カスタムコンテンツ開始 -->
                    <div class="user-content">
                        <a href="/ontimeRegist/input">定時登録</a>
                    </div>
                    <!-- カスタムコンテンツ終了 -->
                </div>
            </div>
            <% } %>

            <div class="item logout">
                <div class="item-content">
                    <!-- カスタムコンテンツ開始 -->
                    <div class="session-content">
                        <!-- table部ここから -->
                        <div class="table">
                            <div class="table-row">
                                <div class="table-data">ログインID</div>
                                <div class="table-data">
                                    <%= sessionLoginUser.loginId %>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-data">ユーザ名</div>
                                <div class="table-data">
                                    <%= sessionLoginUser.userName %>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-data">ユーザID</div>
                                <div class="table-data">
                                    <%= sessionLoginUser.userId %>
                                </div>
                            </div>
                        </div>
                        <!-- table部ここまで -->
                    </div>
                    <!-- カスタムコンテンツ終了 -->
                </div>
            </div>

            <div class="item logout">
                <div class="item-content">
                    <!-- カスタムコンテンツ開始 -->
                    <div class="common-content">
                        <a href="/login/index">ログアウト</a>
                    </div>
                    <!-- カスタムコンテンツ終了 -->
                </div>
            </div>
        </div>
    </div>

    <%- include("../layout/footer", {}) %>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/hammer.min.js"></script>
    <script type="text/javascript" src="/javascripts/web-animations.min.js"></script>
    <script type="text/javascript" src="/javascripts/muuri.min.js"></script>
    <script type="text/javascript" src="/javascripts/sal.min.js"></script>
    <script type="text/javascript">
        $(function () {

            sal({
                threshold: 1,
                once: false
            });

            var grid = new Muuri('.grid', {
                dragEnabled: true
            });
        });
    </script>
</body>

</html>