/*************/
/* input.css */
/*************/
@charset "UTF-8";

/* ボタンの設定 */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #FFFFFF;
  background: #FB6514;
  border: solid 5px #FB6514;
  border-radius: 3px;
  transition: .6s;
}

/* ボタンをマウスオーバーしたとき */
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background: #FFFFFF;
  color: #FB6514;
}

/* 入力タグの設定 */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  padding: 0.8em;
  outline: none;
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
}

/* 入力タグをクリックしたとき */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  box-shadow: 0 0 7px #FB6514;
  border: solid 2px #FB6514;
}

.radio {
  margin-bottom: 25px;
  clear: both;
}

.radio input {
  display: none;
}

.radio label {
  display: block;
  float: left;
  cursor: pointer;
  margin: 0;
  padding: 8px 16px;
  background-color: #FB6514;
  color: #FFF;
  text-align: center;
  transition: 0.2s;
  width: 93px;
}

.radio label:first-of-type {
  border-radius: 3px 0 0 3px;
}

.radio label:last-of-type {
  border-radius: 0 3px 3px 0;
}

.radio input[type="radio"]:checked+label {
  background-color: #FB6514;
}

/* css checkbox */
.checkbox-input {
  display: none;
}

.checkbox-parts {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.checkbox-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}

.checkbox-input:checked+.checkbox-parts {
  color: #FB6514;
}

.checkbox-input:checked+.checkbox-parts::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #FB6514;
  border-right: 3px solid #FB6514;
}

.cp_ipselect {
  overflow: hidden;
  width: 100%;
  margin: 2em auto;
  text-align: center;
}

.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.cp_ipselect select::-ms-expand {
  display: none;
}

.cp_ipselect.cp_sl01 {
  position: relative;
  border: 2px solid #FB6514;
  border-radius: 3px;
  background: #ffffff;
}

.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  margin : 1px 10px 1px 1px;
  color: #666666;
}
