/*******************/
/* loginLayout.css */
/*******************/
@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: radial-gradient(#FB6514, #D27848) fixed;
}

form {
  background: #f0f0f0;
  padding: 6% 4%;
}

input[type="password"],
input[type="text"] {
  width: 94%;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #555;
}

input[type="password"]:focus,
input[type="text"]:focus {
  box-shadow: 0 0 7px #F4491A;
  border: solid 2px #ff8000;
}

input[type="submit"],
input[type="button"] {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #FFFFFF;
  background: #71f145;
  border: solid 5px #71f145;
  border-radius: 3px;
  transition: .6s;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background: #FFFFFF;
  color: #F4491A;
}

.errorMessage {
  background : #f0f0f0;
  color : #ff0000;
  font-size : 15px;
  padding : 5px 5px 5px 5px;
  text-align : center;
}

.login  {
  padding-top: 10%;
  padding-left: 30%;
  padding-right: 30%;
}

.unit {
  padding: 2%;
}